<% let pageId = 'faq'; %>
<%- include('./../_inc/_header', {pageId: pageId }) %>



<div class="js-first-view l-main">

  <section class="p-faq">
    <div class="p-faq__inner">

      <div class="c-intro">
        <h2 class="c-intro__heading">
          <span class="-ja">FAQ</span>
          <span class="-en">よくある質問</span>
        </h2>
      </div>

      <nav class="c-category">
        <ul class="c-category__list">
          <li class="c-category__item">
            <a href="#faq01">
              お問い合わせ01
            </a>
          </li>
          <li class="c-category__item">
            <a href="#faq02">
              お問い合わせ02
            </a>
          </li>
          <li class="c-category__item">
            <a href="#faq03">
              お問い合わせ03
            </a>
          </li>
        </ul>
      </nav>


      <h2 id="faq01" class="p-faq__heading">お問い合わせ01</h2>

        <ul class="p-faq__list">
          <li class="p-faq__item js-acc--content">
            <div class="js-acc--trigger is-active">
              <h3 class="p-faq__heading--title">〇〇に関する質問その1</h3>
              <div class="p-faq__btn js-acc--btn"></div>
            </div>
            <div class="p-faq__answer js-acc--answer">
              <div class="p-faq__body">
                <p class="p-faq__txt">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </li>
          <li class="p-faq__item js-acc--content">
            <div class="js-acc--trigger">
              <h3 class="p-faq__heading--title">〇〇に関する質問その2</h3>
              <div class="p-faq__btn js-acc--btn"></div>
            </div>
            <div class="p-faq__answer js-acc--answer">
              <div class="p-faq__body">
                <p class="p-faq__txt">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </li>
          <li class="p-faq__item js-acc--content">
            <div class="js-acc--trigger">
              <h3 class="p-faq__heading--title">〇〇に関する質問その3</h3>
              <div class="p-faq__btn js-acc--btn"></div>
            </div>
            <div class="p-faq__answer js-acc--answer">
              <div class="p-faq__body">
                <p class="p-faq__txt">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </li>
          <li class="p-faq__item js-acc--content">
            <div class="js-acc--trigger">
              <h3 class="p-faq__heading--title">〇〇に関する質問その4</h3>
              <div class="p-faq__btn js-acc--btn"></div>
            </div>
            <div class="p-faq__answer js-acc--answer">
              <div class="p-faq__body">
                <p class="p-faq__txt">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </li>
          <li class="p-faq__item js-acc--content">
            <div class="js-acc--trigger">
              <h3 class="p-faq__heading--title">〇〇に関する質問その5</h3>
              <div class="p-faq__btn js-acc--btn"></div>
            </div>
            <div class="p-faq__answer js-acc--answer">
              <div class="p-faq__body">
                <p class="p-faq__txt">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </li>
        </ul>


      <h2 id="faq02" class="p-faq__heading">お問い合わせ02</h2>

        <ul class="p-faq__list">
          <li class="p-faq__item js-acc--content">
            <div class="js-acc--trigger is-active">
              <h3 class="p-faq__heading--title">〇〇に関する質問その1</h3>
              <div class="p-faq__btn js-acc--btn"></div>
            </div>
            <div class="p-faq__answer js-acc--answer">
              <div class="p-faq__body">
                <p class="p-faq__txt">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </li>
          <li class="p-faq__item js-acc--content">
            <div class="js-acc--trigger">
              <h3 class="p-faq__heading--title">〇〇に関する質問その2</h3>
              <div class="p-faq__btn js-acc--btn"></div>
            </div>
            <div class="p-faq__answer js-acc--answer">
              <div class="p-faq__body">
                <p class="p-faq__txt">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </li>
          <li class="p-faq__item js-acc--content">
            <div class="js-acc--trigger">
              <h3 class="p-faq__heading--title">〇〇に関する質問その3</h3>
              <div class="p-faq__btn js-acc--btn"></div>
            </div>
            <div class="p-faq__answer js-acc--answer">
              <div class="p-faq__body">
                <p class="p-faq__txt">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </li>
          <li class="p-faq__item js-acc--content">
            <div class="js-acc--trigger">
              <h3 class="p-faq__heading--title">〇〇に関する質問その4</h3>
              <div class="p-faq__btn js-acc--btn"></div>
            </div>
            <div class="p-faq__answer js-acc--answer">
              <div class="p-faq__body">
                <p class="p-faq__txt">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </li>
          <li class="p-faq__item js-acc--content">
            <div class="js-acc--trigger">
              <h3 class="p-faq__heading--title">〇〇に関する質問その5</h3>
              <div class="p-faq__btn js-acc--btn"></div>
            </div>
            <div class="p-faq__answer js-acc--answer">
              <div class="p-faq__body">
                <p class="p-faq__txt">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </li>
        </ul>

        <h2 id="faq03" class="p-faq__heading">お問い合わせ03</h2>

        <ul class="p-faq__list">
          <li class="p-faq__item js-acc--content">
            <div class="js-acc--trigger is-active">
              <h3 class="p-faq__heading--title">〇〇に関する質問その1</h3>
              <div class="p-faq__btn js-acc--btn"></div>
            </div>
            <div class="p-faq__answer js-acc--answer">
              <div class="p-faq__body">
                <p class="p-faq__txt">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </li>
          <li class="p-faq__item js-acc--content">
            <div class="js-acc--trigger">
              <h3 class="p-faq__heading--title">〇〇に関する質問その2</h3>
              <div class="p-faq__btn js-acc--btn"></div>
            </div>
            <div class="p-faq__answer js-acc--answer">
              <div class="p-faq__body">
                <p class="p-faq__txt">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </li>
          <li class="p-faq__item js-acc--content">
            <div class="js-acc--trigger">
              <h3 class="p-faq__heading--title">〇〇に関する質問その3</h3>
              <div class="p-faq__btn js-acc--btn"></div>
            </div>
            <div class="p-faq__answer js-acc--answer">
              <div class="p-faq__body">
                <p class="p-faq__txt">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </li>
          <li class="p-faq__item js-acc--content">
            <div class="js-acc--trigger">
              <h3 class="p-faq__heading--title">〇〇に関する質問その4</h3>
              <div class="p-faq__btn js-acc--btn"></div>
            </div>
            <div class="p-faq__answer js-acc--answer">
              <div class="p-faq__body">
                <p class="p-faq__txt">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </li>
          <li class="p-faq__item js-acc--content">
            <div class="js-acc--trigger">
              <h3 class="p-faq__heading--title">〇〇に関する質問その5</h3>
              <div class="p-faq__btn js-acc--btn"></div>
            </div>
            <div class="p-faq__answer js-acc--answer">
              <div class="p-faq__body">
                <p class="p-faq__txt">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </li>
        </ul>


    </div>
  </section>

</div>



<%- include('./../_inc/_footer', {pageId: pageId })  %>
