.index {

  &__inner {
    padding: 0 15px;
  }

  &__slider {

    &--product {
      overflow: hidden;
      @include maxWidth(1160px);
    }

  }

  &__slide {

    &--product {
      width: 100%;

      @include mq-target(sm) {
        margin-right: 20px;
        width: calc((100% - 60px) / 4);
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  &__scrollbar {
    cursor: grab;
    margin-top: 40px;
    background: rgba(0,0,0,.25);
    height: 5px;

    & .drag {
      height: 100%;
      background: $color-blue;
    }
  }

  &__list {

    &--category {
      @include maxWidth(1200px);
      @include flex($wrap:wrap, $justify:space-between);
      @include mq-target(sm) {
        @include column4(18.6%);
      }
    }
  }

  &__item {

    &--news {
      margin: 0 0 30px;

      @include mq-target(md) {
        margin: 0;
      }
    }

    &--category {
      box-shadow: $box-shadow-light-1;
      border-radius: 8px;
      overflow: hidden;
      background-color: #fff;
      margin: 0 0 20px;

      width: 48%;

      @include mq-target(sm) {
        width: 18.6%;
      }

      a {
        display: block;
        position: relative;

        &::after {
          transform: translateX(0);
          background-color: rgba(0, 0, 0, 0.3);
          transition: transform .3s ease;
        }

        &:hover {
          &::after {
            transform: translateX(100%);
          }

          & figcaption {
            color: $color-green-light-3;
            font-weight: 900;
          }
        }
      }
    }
  }

  &__img {
    &::before {
      padding-top: 66%;
    }

    &--product {
      transition: transform .3s ease;
      transform: scale(0.95);
      &::before {
        padding-top: 110%;
      }

      &:hover {
        transform: scale(1);
      }
    }

    &--category {


      &::before {
        padding-top: 110%;
      }

      figcaption {
        color: $color-main;
        font-size: 2rem;
        width: 100%;
        font-weight: 500;
        z-index: 1;
        @include absCenter;
        transition: color .3s ease;
      }

    }
  }

  &__heading {
    &--article {
      text-align: left;
    }

    &--newProduct {
      margin: 20px 0 4px;
    }

  }

  &__txt {
    &--newProduct {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }
}



.index__heading {
  margin: 0 0 50px;

  & > span {
    display: block;
  }

  & .-en {
    font-weight: 500;
    font-size: 2.6rem;
    margin: 0 0 5px;
  }

  & .-ja {

  }
}
