.c-button {
  position: relative;
  display: inline-block;
  letter-spacing: 0.12em;
  font-size: 1.2rem;
  color: inherit;
  vertical-align: middle;

  @include mq(md) {
    font-size: 1.2rem;
  }

  a {
    color: $color-sub;
  }

  &--border {
    overflow: hidden;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 30px 10px 0;
    transition: 0.2s all cubic-bezier(0.61, 1, 0.88, 1);
    transition: opacity .2s ease-out;
    color: $color-sub;

    &::before,
    &::after {
      content: "";
      @include absolute($bottom:0, $left:0);
      width: 100%;
      height: 1px;
      transition: all .5s;
    }

    &::after {
      background: $color-green-light-2;
      transform: translateX(100%);
    }

    &::before {
      background: $color-sub;
    }

    &:hover::after {
      transform: translateX(0);
    }

    &:hover::before {
      width: 0;
      background: $color-green-light-2;
    }
  }

  &--square {
    border-radius: 24px;
    position: relative;
    height: 54px;
    line-height: 54px;
    width: 100%;
    background: $color-main;
    max-width: 240px;
    overflow: hidden;
    color: $color-bg;

    a {
      font-weight: 500;
      font-size: 1.4rem;
      width: 100%;
      position: relative;
      text-align: center;
      color: $color-bg;
      display: block;
      z-index: 2;
      transition: opacity .3s ease;

      &:hover {
        opacity: 0.4;
      }
    }
  }

  &--cross {
    background: $color-main;
    width: 100%;
    height: 54px;
    line-height: 54px;
    text-align: center;
    max-width: 240px;
    white-space: nowrap;
    border: 1px solid transparent;
    color: $color-white;
    transition: all 0.3s linear;

    &:hover {
      color: $color-white;
      background: $color-green-light-2;

      &::before,
      &::after {
        width: 0;
        height: 0;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      background: $color-main;
      transition: all 0.3s linear;
    }

    &::before {
      width: calc(100% + 2px);
      height: 1px;
      bottom: -6px;
      left: 10px;
    }

    &::after {
      width: 1px;
      height: calc(100% + 2px);
      top: 10px;
      right: -6px;
    }
  }
}
